*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ligthblue1: #589cdb;
  --ligthblue2: #398cda;
  --ligthblue3: #9fd1fd;
  --white1: #fafafa;
  --white2: #ffffffcc;
  --gray: #dbd9f790;
  --blue1: #063d70;
  --blue2: #05589c;
  --blue3: #3958e480;
  --black1: #000;
  --black2: #08070780;
  --color-terminal: #292b36;
  --borde-redondo: 4px;
  --shadow: 0 8px 8px;
  --color_shadow: #00000033;
  --fuente: "Exo 2", sans-serif;
}

body {
  font-family: var(--fuente);
  background-image: url(../imagenes/fondo.jpg);
  background-size: 100%;
}

header {
  display: flex;
  float: left;
}

.home {
  height: 75px;
  position: absolute;
  margin: 0 10px;
  top: 150px;
  left: 50px;
  background-color: var(--ligthblue1);
  border-radius: 50%;
}

main {
  display: flex;
  margin: 1em;
  /* border: 2px solid red; */
  flex-direction: row;
  align-items: center;
}

.titulo-encriptador {
  height: 30px;
  color: var(--white2);
  font-weight: bold;
  font-size: 1.8em;
  font-family: Georgia, "Times New Roman";
  border-bottom: 1px solid var(--white1);
  text-align: center;
}

.input-texto {
  width: 400px;
  height: 70vh;
  border: none;
  color: var(--white1);
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em;
  background-color: var(--black2);
  margin: auto;
  resize: none; /*no permite que se cambie el tamaño a la caja de texto */
  outline: none;
  border-radius: 15px;
  display: flex;
}

.input-texto::placeholder {
  color: var(--ligthblue3);
  font-weight: lighter;
}

#input_murcielago{
  height: 40vh;
}

#clave_murcielago{
  height: 20vh;
  margin-top: 2em;
}

/*Para la barra de los encriptadores*/
.rango {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 30px;
  text-align: center;
  align-items: center;
  color: var(--white1);
  font-weight: bold;
  font-size: 20px;
}

input[type='range'] {
  -webkit-appearance: none;
  border-radius: var(--borde-redondo);
  background:var(--color-terminal);
  margin: 0;
  padding: 0 5px;
  height: 20px;
}

input[type='range']::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
  background:var(--white1);
  border-radius: 50%;
  height:10px;
  width:10px;
}

.btn-enc {
  display: inline-block;
  background: var(--blue2);
  text-align: center;
  text-decoration: none;
  color: var(--white1);
  font-size: 1em;
  width: 40%;
  margin: 2em 1em;
  padding: 1em 1em;
  box-sizing: border-box;
  border: 3px solid var(--gray);
  border-radius: 2em;
}

.btn-des {
  display: inline-block;
  background: var(--ligthblue1);
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: var(--blue1);
  font-size: 1em;
  width: 40%;
  margin: 2em 1em;
  padding: 1em 1em;
  box-sizing: border-box;
  border: 3px solid white;
  border-radius: 2em;
}

.btn-enc:hover {
  border: var(--blue1);
  background: var(--blue1);
  transform: scale(1.1);
  transition: 2s all;
  cursor: pointer;
}

.btn-des:hover {
  border: var(--gray);
  background: var(--ligthblue2);
  transform: scale(1.1);
  transition: 2s all;
  cursor: pointer;
}

/*botones para la pagina murcielago*/
#enc, #desenc{
  margin: 1em 1em;
}

/*Resultado de la Encriptacion/Desencriptacion*/
.tablero {
  display: flex;
  flex-direction: column;
  width: 450px;
  min-height: auto;
  background-color: var(--blue3);
  justify-content: start;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  border-radius: 15px;
  border: none;
  text-align: center;
  height: 85vh;
}

.conteinerImg img {
  display: flex;
  height: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.text1 {
  padding: 1em;
  color: var(--white1);
  font-size: 1.5em;
  font-weight: bold;
}

.text2 {
  color: var(--white1);
  font-size: 1.2em;
  margin: 0 1em;
}

.mensaje {
  width: 90%;
  height: 90%;
  border: none;
  color: var(--white1);
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em;
  background-color: transparent;
  filter: opacity(0.7);
  margin: auto;
  resize: none; /*no permite que se cambie el tamaño a la caja de texto */
  outline: none;
  border-radius: 15px;
  display: flex;
}

#titulo-resultado {
  height: 30px;
  color: rgba(255, 255, 255, 0.933);
  font-weight: bold;
  font-size: 1.8em;
  font-family: Georgia, "Times New Roman";
  border-bottom: 1px solid var(--white1);
  text-align: center;
}

.btn-copiar {
  background: var(--gray);
  text-align: center;
  text-decoration: none;
  color: var(--white1);
  font-size: 1em;
  width: 40%;
  margin: 2em 30%;
  padding: 1em 2em;
  box-sizing: border-box;
  border: 3px solid var(--white1);
  border-radius: 2em;
}

.btn-copiar:hover {
  background: var(--gray);
  transform: scale(1.1);
  transition: 3s all;
  cursor: pointer;
}

footer {
  width: auto;
  margin-top: 2 em;
  padding: 0.5em;
  text-align: center;
  height: 5px;
}

.copyright {
  color: var(--white1);
  font-size: 1.5em;
  font-weight: bold;
}

/*copyright murcielago*/
#cyr {
  margin-top: 1em;
}

/*Responsive para dispositivos mayores o iguales a 1100px de ancho*/
@media only screen and (min-width: 1100px) {
  .input-texto {
    height: 70%;
  }
  .copyright {
    margin-top: 0.5em;
  }
}

/*Responsive para dispositivos menores o iguales a 1100px de ancho*/
@media only screen and (max-width: 1100px) {
  main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  header {
    margin: 20px;
  }

  .input-texto {
    height: 30%;
    margin: 0;
    margin-top: 5%;
  }

  .tablero {
    padding-top: 10px;
    margin: auto;
    height: auto;
  }

  .conteinerImg img {
    height: 40%;
  }

  .text2{
    padding-bottom: 4%;
  }

  .copyright {
    margin-bottom: 1em;
  }
}

/*Responsive para dispositivos menores o iguales a 700px de ancho*/
@media only screen and (max-width: 700px) {
  header {
    width: 90%;
    display: flex;
  }

  .contenedor {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  .home {
    display: inline-block;
    text-align: right;
    top: 0;
    left: 0;
    margin: 0 80%;
  }

  #titulo-transposicion{
    font-size: 1.55em;
  }

  .ingreso{
    width: 90%;
  }

  .input-texto {
    margin: auto;
    width: 85%;
    height: 20%;
  }

  .rango {
    width: 90%;
    margin: 10px auto;
  }

  .tablero {
    margin: auto;
    width: 85%;
    height: 30%;
  }

  .tablero img {
    display: none;
    margin: none;
  }

  .btn-copiar {
    display: inline;
    width: auto;
    height: auto;
    margin: 20px auto;
  }

  #resultado {
    height: auto;
    margin: 0;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

/*Responsive para dispositivos menores o iguales a 500px de ancho*/
@media only screen and (max-width: 500px) {
  .input-texto {
    width: 70%;
  }

  .titulo-encriptador,
  #titulo-resultado {
    font-size: 1.4em;
  }

  #titulo-transposicion{
    font-size: 1.25em;
  }

  .rango {
    width: 80%;
  }

  .btn-enc, .btn-des{
    width: auto;
    margin: 2em 7%;
  }

  #enc{
    margin: 1em 0 1em 12%;
  }

  #desenc{
    margin: 1em 0 1em 12%;
  }
}

@media only screen and (max-width: 450px) {
  #enc{
    margin: 1em 0 1em 9%;
  }

  #desenc{
    margin: 1em 0 1em 9%;
  }
}

/*Responsive para dispositivos menores o iguales a 500px de ancho*/
@media only screen and (max-width: 400px) {

  #titulo-murcielago,   #titulo-transposicion{ 
    border-bottom: none;
    margin-bottom: 20px;
  }

  .home {
    margin: 0 70%;
  }

  .btn-enc, .btn-des{
    margin: 2em 3%;
  }

  #enc,#desenc{
    margin: 1em 0 1em 5%;
  }
}